<div class="file-storage-wrapper {{#visible}}file-storage-visible{{/}}">
    
    <div class="main-column">
    
        <div class="top-buttons">
            <div class="new-transript" role="button" on-click="newFile">New transcript</div>
            <div class="import-transcript" role="button" on-click="importFile">Import OTR file</div>
            <div class="hide-storage-panel" role="button" on-click="hidePanel">
                <i class="fa fa-close"></i>
                X
            </div>
        </div>
        <ul>
            {{#each files}}
            <li on-click="selectFile" data-id="{{id}}" class="file-item {{#active}}active{{/}}">

                <div class="transcript-preview">
                    {{{text}}}
                </div>
                <div class="file-right">
                    {{^active}}
                    <div class="open-file" role="button" onClick="selectFile" data-id="{{id}}">Open</div>
                    {{/active}}
                    <div class="export-file" role="button">Export</div>
                    <div class="view-history" role="button">History</div>
                    <div class="delete-file" role="button" onClick="" data-id="{{id}}">Delete</div>
                
                    <p>ID: {{id}}</p>
                    <p>{{dateFormatted}}</p>
                    <p>{{#if lastMedia}} Last file: {{lastMedia}}{{/if}}</p>
                    <p>{{wordCount}} words</p>
                </div>
            </li>
            {{/each}}
        </ul>
        
    </div>
    
</div>