.file-storage-activate-button {
    position: absolute;
    top: 56px;
    right: 20px;
    z-index: 10;
    border: 1px solid #aaa;
    padding: 10px 14px;
    border-radius: 3px;
    background: #f1f1f1;
    &:hover {
        cursor: pointer;
        background: white;
    }
    &:active {
        background: #d1d1d1;
    }
}



.file-storage-wrapper {
    position: fixed;
    overflow-y: scroll;
    top: 36px;
    z-index: 200;
    background: white;
    width: 100%;
    height: calc( 100% - 36px );
    transition: transform 500ms;
    transform: translateY(calc(-100%));
    &.file-storage-visible {
        transform: translateY(0%);
    }
}

.new-transript, .import-transcript {
    @include button;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

.hide-storage-panel {
    float: right;
    font-size: 50px;
}

.main-column {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    
    .top-buttons {
        padding: 20px;
    }
}

.file-item {
    border-top: 1px solid #ccc;
    padding: 20px;
    position: relative;
    display: flex;
    &.active {
        background: #f2f2f2;
        border-color: #f2f2f2;
    }
    
    .open-file {
        @include button;
        float: right;
        padding: 8px;
        font-size: 20px;
    }
    .export-file {
        @include button;
        float: right;
        padding: 8px;
        font-size: 14px;
    }
    .view-history {
        @include button;
        float: right;
        padding: 8px;
        font-size: 14px;
        margin-right: 10px;
    }
    .open-file+.export-file {
        margin-right: 10px;
    }
    .file-right {
        flex: 1;
        padding-left: 20px;
    }
    
}

.trash-container {
    padding:1px 15px;
    background: #f2f2f2;
    margin-top: 20px;
}

.trash-header {
    font-size: 24px;
    margin: 20px 0;
    font-weight: 500;
}

.trash-file {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $danger;
    text-decoration: underline;
    font-size: 12px;
    &:hover {
        color: lighten( $danger, 10% );
        cursor: pointer;
    }
}

.transcript-preview {
    display: block;
    float: left;
    height: 80px;
    width: 60px;
    font-size: 10px !important;
    border: 1px solid $dark;
    background: white;
    padding: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 1px 1px #aaa;
    * {
        font-size: 10px !important;
    }
}

